@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@font-face {
    font-family: "Phonk Sans";
    src: url("../font/PhonkSans-Light.woff2") format("woff2"), url("../font/PhonkSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: #090f11;
    font-weight: 400;
    color: #fff;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow, opacity;
    cursor: pointer;
}
button:focus {
    outline: none;
}
a {
    text-decoration: none;
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow, opacity;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}
input,
textarea,
select {
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    transition: 0.5s ease;
    transition-property: color, border-color, box-shadow;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
svg {
    transition: fill 0.5s ease;
}
::-moz-selection {
    background: #984e33;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #984e33;
    color: #fff;
    text-shadow: none;
}
::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}
::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
:-moz-placeholder {
    color: #fff;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}
:focus-visible {
    outline: 0 dotted;
}
.fade {
    transition: opacity 0.4s linear;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #090F11;
    top: 0;
    z-index: 999;
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.preloader img {
    max-width: 300px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    background-color: #090f11;
    z-index: 99;
}
.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    max-width: 1780px;
    margin: 0 auto;
}
.header__logo {
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
}
.header__logo img {
    width: 100%;
    height: 100%;
    position: relative;
    transition: opacity 0.5s ease;
}
.header__logo img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.header__logo:hover img {
    opacity: 0;
}
.header__logo:hover img:last-child {
    opacity: 1;
}
.header__phone {
    display: none;
}
.header__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}
.header__social li {
    margin-right: 10px;
}
.header__social li:last-child {
    margin-right: 0;
}
.header__social a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(152, 78, 51, 0.5);
}
.header__social a img {
    width: 20px;
    height: auto;
}
.header__btn {
    display: none;
}
.header__menu {
    width: 40px;
    height: 20px;
    display: block;
    position: relative;
}
.header__menu span {
    position: absolute;
    left: 0;
    width: 40px;
    height: 1px;
    background-color: #fff;
    transition: 0.5s ease;
    opacity: 1;
}
.header__menu span:first-child {
    top: 0;
}
.header__menu span:nth-child(2) {
    top: 10px;
}
.header__menu span:last-child {
    top: 20px;
}
.header__menu--active span:first-child {
    transform: rotate(45deg);
    top: 10px;
}
.header__menu--active span:nth-child(2) {
    opacity: 0;
}
.header__menu--active span:last-child {
    transform: rotate(-45deg);
    top: 10px;
}
@media (min-width: 768px) {
    .header {
        border: none;
    }
    .header__content {
        height: 80px;
    }
    .header__phone {
        display: block;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        margin-left: auto;
        margin-right: 40px;
    }
    .header__social {
        margin-right: 40px;
    }
    .header__social a {
        width: 34px;
        height: 34px;
    }
    .header__btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border: 1px solid #fff;
        border-radius: 8px;
        background-color: #090f11;
        margin-right: 40px;
        color: #fff;
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .header__content {
        height: 86px;
    }
    .header__logo {
        width: 56px;
        height: 56px;
    }
    .header__social a:hover {
        background-color: #984e33;
    }
    .header__phone:hover {
        color: #984e33;
    }
    .header__btn:hover {
        background-color: #984e33;
        border-color: #984e33;
    }
}
@media (min-width: 1680px) {
    .header__phone {
        font-size: 22px;
    }
    .header__phone,
    .header__social,
    .header__btn {
        margin-right: 50px;
    }
    .header__btn {
        width: 250px;
    }
}
@media (min-width: 1920px) {
    .header__phone,
    .header__social,
    .header__btn {
        margin-right: 70px;
    }
}
.hero {
    padding: 130px 0px 90px 0px;
    max-width: 1920px;
    margin: 0 auto;
}
.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
}
.hero__title {
    font-size: 38px;
    text-transform: uppercase;
    font-family: "Phonk Sans";
    margin-bottom: 5px;
}
.hero__title b {
    color: #984e33;
    font-weight: 300;
}
.hero__text {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}
.hero__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 48px;
    border-radius: 8px;
    background-color: #984e33;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.hero__tag {
    display: none;
}
.hero__carousel {
    margin-top: 40px;
}
.hero__slide {
    display: block;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 15px;
}
.hero__slide img {
    width: 100%;
}
.hero__slide span {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/quotes.png") no-repeat left 5px center;
    background-size: auto 100%;
    background-color: rgba(8, 8, 9, 0.7);
    border-radius: 4px 0 4px 0;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px 0 55px;
}
.hero__slide p {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(8, 8, 9, 0.7);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
    margin-bottom: 0;
    border-radius: 4px 0 0 0;
}
@media (min-width: 768px) {
    .hero {
        padding: 120px 38px 0;
    }
    .hero__title {
        font-size: 44px;
    }
    .hero__text {
        font-size: 24px;
        margin-bottom: 45px;
    }
    .hero__btn {
        width: 300px;
        height: 60px;
        font-size: 20px;
    }
    .hero__carousel {
        margin-top: 60px;
    }
    .hero__slide {
        border-radius: 8px;
    }
    .hero__slide span {
        height: 60px;
        background-size: auto 58px;
        padding: 0 20px 0 65px;
        font-size: 16px;
        border-radius: 8px 0 8px 0;
    }
    .hero__slide p {
        border-radius: 8px 0 0 0;
        font-size: 24px;
        padding: 10px 20px;
    }
}
@media (min-width: 992px) {
    .hero__title {
        font-size: 58px;
    }
}
@media (min-width: 1200px) {
    .hero {
        padding: 120px 58px 0;
    }
    .hero__title {
        font-size: 69px;
    }
    .hero__text {
        font-size: 38px;
        margin-bottom: 60px;
    }
    .hero__btn {
        width: 340px;
        height: 72px;
        font-size: 22px;
    }
    .hero__btn:hover {
        background-color: #3a5157;
    }
    .hero__slide span {
        height: 70px;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0 30px 0 65px;
    }
    .hero__slide p {
        font-size: 32px;
    }
}
@media (min-width: 1440px) {
    .hero__title {
        font-size: 79px;
    }
    .hero__text {
        font-size: 32px;
    }
    .hero__tag {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        bottom: 70px;
        left: 0;
    }
    .hero__tag span {
        font-size: 24px;
        font-weight: 300;
        width: 390px;
    }
    .hero__carousel {
        width: 700px;
        margin-left: auto;
        margin-top: -190px;
    }
}
@media (min-width: 1680px) {
    .hero__title {
        font-size: 96px;
    }
    .hero__tag {
        left: 190px;
    }
}
@media (min-width: 1920px) {
    .hero__title {
        font-size: 102px;
    }
    .hero__carousel {
        width: 1035px;
    }
    .hero__text {
        font-size: 38px;
    }
    .hero__tag {
        left: 140px;
        bottom: 260px;
    }
}
.section {
    padding: 60px 0 0;
    max-width: 1920px;
    margin: 0 auto;
}
.section__head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}
.section__title {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}
.section__title--bg {
    background: linear-gradient(90deg, #984e33 0%, rgba(152, 78, 51, 0) 100%);
    padding: 0 5px;
    border-radius: 4px 0 0 4px;
}
.section__tag {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}
.section__tag b {
    font-weight: 600;
    color: #984e33;
}
.section__text {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0;
}
.section__text--head {
    margin-top: 10px;
}
.section__tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.section__tabs li {
    width: calc(50% - 5px);
    margin-right: 0;
    margin-top: 10px;
}
.section__tabs li:nth-child(2n) {
    margin-right: 10px;
}
.section__tabs li:first-child {
    width: 100%;
}
.section__tabs button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    position: relative;
    font-size: 14px;
    width: 100%;
    height: 46px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 0 15px;
}
.section__tabs button span {
    display: none;
}
.section__tabs button:hover {
    color: #fff;
}
.section__tabs button.active {
    color: #fff;
    background-color: #984e33;
    border-color: #984e33;
}
.section__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 48px;
    border-radius: 8px;
    background-color: #984e33;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin: 40px auto 0;
}
@media (min-width: 768px) {
    .section {
        padding: 100px 38px 0;
    }
    .section__head {
        margin-bottom: 25px;
    }
    .section__title {
        font-size: 42px;
    }
    .section__title--bg {
        padding: 0 10px;
        border-radius: 8px 0 0 8px;
    }
    .section__tag {
        font-size: 32px;
        margin-top: 15px;
    }
    .section__text {
        font-size: 18px;
    }
    .section__text--head {
        margin-top: 25px;
    }
    .section__tabs {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .section__tabs button {
        height: 60px;
        font-size: 17px;
        border-radius: 8px;
    }
    .section__tabs button span {
        display: block;
        margin-right: 10px;
    }
    .section__btn {
        width: 240px;
        height: 60px;
        font-size: 20px;
        margin: 60px auto 0;
    }
}
@media (min-width: 992px) {
    .section__tabs button {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .section {
        padding: 160px 58px 0;
    }
    .section__head {
        margin-bottom: 35px;
    }
    .section__title {
        font-size: 62px;
    }
    .section__title--bg {
        padding: 0 20px;
    }
    .section__tag {
        font-size: 50px;
    }
    .section__text {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .section__text--head {
        margin-bottom: 0;
        width: 50%;
        margin-left: 50%;
        margin-top: 40px;
    }
    .section__tabs {
        margin-top: auto;
        margin-bottom: 0;
        flex-direction: column;
        max-width: 540px;
        margin-left: -10px;
        position: relative;
    }
    .section__tabs:after {
        content: "";
        position: absolute;
        left: 65px;
        bottom: 0;
        right: 0;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
    }
    .section__tabs li {
        width: 100%;
        margin-top: -1px;
        position: relative;
    }
    .section__tabs li:nth-child(2n) {
        margin-right: 0;
    }
    .section__tabs li:after {
        content: "";
        position: absolute;
        left: 65px;
        top: 0;
        right: 0;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
    }
    .section__tabs button {
        height: 76px;
        font-size: 20px;
        font-weight: 500;
        padding: 0 0 0 10px;
        border: none;
        text-transform: uppercase;
        position: relative;
        background-color: transparent;
        border-radius: 4px 0 0 4px;
        z-index: 2;
    }
    .section__tabs button span {
        margin-right: 30px;
    }
    .section__tabs button:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(90deg, #984e33 0%, rgba(152, 78, 51, 0) 100%);
        border-radius: 4px;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .section__tabs button.active {
        background-color: #090f11;
    }
    .section__tabs button.active:before {
        opacity: 1;
    }
    .section__btn {
        width: 270px;
        height: 72px;
        font-size: 22px;
        margin: 80px auto 0;
    }
    .section__btn:hover {
        background-color: #3a5157;
    }
}
.club {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.club__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
}
.club__title b {
    color: #984e33;
    font-weight: 500;
}
.club__text {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
}
.club__numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 5px;
}
.club__number {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 25px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 15px;
}
.club__number span {
    font-size: 52px;
    line-height: 100%;
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
}
.club__number span:before {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    width: 1px;
    background-color: rgba(152, 78, 51, 0.6);
}
.club__number p {
    font-size: 15px;
    margin-bottom: 0;
    width: auto;
}
@media (min-width: 768px) {
    .club__title {
        font-size: 42px;
    }
    .club__text {
        font-size: 18px;
        margin-top: 15px;
    }
    .club__numbers {
        margin-top: 10px;
    }
    .club__number {
        border-radius: 8px;
    }
    .club__number span {
        font-size: 66px;
        padding-right: 20px;
        margin-right: 20px;
    }
    .club__number p {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .club {
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 50px 35px;
    }
    .club__title {
        font-size: 62px;
    }
    .club__text {
        font-size: 22px;
        margin-top: 20px;
    }
    .club__numbers {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
    .club__number {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        border: none;
        margin-top: 0;
        width: calc(20% - 12px);
    }
    .club__number span {
        font-size: 90px;
        padding-right: 0;
        margin-right: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .club__number span:before {
        top: auto;
        left: 0;
        bottom: 0;
        width: 160px;
        height: 1px;
    }
    .club__number p {
        font-size: 22px;
    }
}
@media (min-width: 1400px) {
    .club__text {
        padding-right: 20%;
    }
    .club__number {
        width: calc(20% - 24px);
    }
}
@media (min-width: 1600px) {
    .club__text {
        padding-right: 29%;
    }
    .club__number {
        width: calc(20% - 60px);
    }
}
.clubhouse-mob {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.clubhouse-mob__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
}
.clubhouse-mob__title b {
    color: #984e33;
    font-weight: 500;
}
.clubhouse-mob__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 5px;
}
.clubhouse-mob__list li {
    position: relative;
    font-size: 16px;
    margin-top: 25px;
    padding-left: 25px;
}
.clubhouse-mob__list li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 5px;
    height: 5px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: #984e33;
}
@media (min-width: 768px) {
    .clubhouse-mob__title {
        font-size: 42px;
    }
    .clubhouse-mob__list li {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .clubhouse-mob {
        display: none;
    }
}
.clubhouse-desk {
    display: none;
}
@media (min-width: 1200px) {
    .clubhouse-desk {
        display: block;
        width: 1140px;
        position: relative;
        margin: 0 auto;
    }
    .clubhouse-desk__bg {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        pointer-events: none;
        z-index: 1;
        position: relative;
    }
    .clubhouse-desk__title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 650px;
        height: 220px;
        background-color: #984e33;
        border-radius: 8px;
        font-size: 44px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 40px;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        margin: -110px 0 0 -335px;
    }
    .clubhouse-desk__item {
        position: absolute;
        font-size: 20px;
        font-weight: 500;
    }
    .clubhouse-desk__item--1 {
        top: 50px;
        left: -20px;
        width: 270px;
    }
    .clubhouse-desk__item--2 {
        top: 145px;
        left: 100px;
        width: 420px;
    }
    .clubhouse-desk__item--3 {
        bottom: 130px;
        left: -20px;
        width: 325px;
    }
    .clubhouse-desk__item--4 {
        bottom: 140px;
        left: 310px;
        width: 245px;
        text-align: right;
    }
    .clubhouse-desk__item--5 {
        top: 50px;
        right: -20px;
        width: 300px;
        text-align: right;
    }
    .clubhouse-desk__item--6 {
        top: 90px;
        right: 260px;
        width: 220px;
        text-align: right;
    }
    .clubhouse-desk__item--7 {
        top: 220px;
        right: -20px;
        width: 315px;
        text-align: right;
    }
    .clubhouse-desk__item--8 {
        bottom: 210px;
        right: -20px;
        width: 200px;
        text-align: right;
    }
    .clubhouse-desk__item--9 {
        bottom: 100px;
        right: 130px;
        width: 250px;
        text-align: right;
    }
}
/* @media (min-width: 1400px) {
    .clubhouse-desk {
        width: 1300px;
    }
    .clubhouse-desk__item--1 {
        top: 60px;
    }
    .clubhouse-desk__item--2 {
        top: 160px;
        left: 160px;
    }
    .clubhouse-desk__item--3 {
        bottom: 150px;
    }
    .clubhouse-desk__item--4 {
        bottom: 150px;
        left: 350px;
    }
    .clubhouse-desk__item--5 {
        top: 60px;
    }
    .clubhouse-desk__item--6 {
        top: 105px;
        right: 280px;
    }
    .clubhouse-desk__item--7 {
        top: 260px;
    }
    .clubhouse-desk__item--8 {
        bottom: 250px;
    }
    .clubhouse-desk__item--9 {
        bottom: 110px;
        right: 180px;
    }
} */
@media (min-width: 1920px) {
    .clubhouse-desk {
        width: 1525px;
    }
    .clubhouse-desk__item {
        font-size: 22px;
    }
    .clubhouse-desk__item--1 {
        top: 85px;
        left: -30px;
        width: 290px;
    }
    .clubhouse-desk__item--2 {
        top: 185px;
        left: 200px;
        width: 460px;
    }
    .clubhouse-desk__item--3 {
        bottom: 220px;
        left: -30px;
        width: 415px;
    }
    .clubhouse-desk__item--4 {
        bottom: 180px;
        left: 360px;
        width: 245px;
    }
    .clubhouse-desk__item--5 {
        top: 90px;
        right: -30px;
        width: 300px;
    }
    .clubhouse-desk__item--6 {
        top: 120px;
        right: 300px;
        width: 220px;
    }
    .clubhouse-desk__item--7 {
        top: 310px;
        right: -30px;
        width: 315px;
    }
    .clubhouse-desk__item--8 {
        bottom: 300px;
        right: -30px;
        width: 200px;
    }
    .clubhouse-desk__item--9 {
        bottom: 130px;
        right: 215px;
        width: 250px;
    }
}
/* @media (min-width: 1900px) {
    .clubhouse-desk__item--1 {
        left: -100px;
    }
    .clubhouse-desk__item--3 {
        left: -100px;
    }
    .clubhouse-desk__item--5 {
        right: -110px;
    }
    .clubhouse-desk__item--6 {
        right: 280px;
    }
    .clubhouse-desk__item--7 {
        right: -110px;
    }
    .clubhouse-desk__item--8 {
        right: -20px;
    }
} */
.founder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.founder__name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #984e33 0%, rgba(152, 78, 51, 0) 100%);
    padding: 0 5px;
    border-radius: 4px;
}
.founder__title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.founder__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.founder__list li {
    font-size: 15px;
    font-weight: 300;
    position: relative;
    padding-left: 24px;
}
.founder__list li:before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    top: 10px;
    left: 10px;
}
@media (min-width: 768px) {
    .founder {
        border-radius: 8px;
        padding: 30px;
    }
    .founder__name {
        padding: 0 10px;
        font-size: 26px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .founder__title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .founder__list li {
        font-size: 18px;
    }
    .founder__list li:before {
        top: 11px;
    }
}

@media (min-width: 1200px) {
    .founder {
        padding: 15px;
    }
    .founder__name {
        margin-bottom: 10px;
    }
    .founder__title {
        margin-bottom: 10px;
    }
}

@media (min-width: 1600px) {
    .founder {
        padding: 35px 50px;
    }
    .founder__name {
        font-size: 32px;
        line-height: 60px;
        padding: 0 20px;
        margin-bottom: 25px;
    }
    .founder__title {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .founder__list li {
        font-size: 22px;
        padding-left: 34px;
    }
    .founder__list li:before {
        left: 15px;
        top: 14px;
    }
}

.founder-img {
    display: block;
    margin-top: 15px;
}
.founder-img img {
    width: 100%;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .founder-img img {
        border-radius: 8px;
    }
}
.possibilities-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 30px;
}
.possibilities-content h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.possibilities-content p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
}
.possibilities-content p:last-child {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .possibilities-content h3 {
        font-size: 26px;
    }
    .possibilities-content p {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .possibilities-content p {
        font-size: 14px;
    }
}
@media (min-width: 1600px) {
    .possibilities-content h3 {
        font-size: 32px;
    }
    .possibilities-content p {
        font-size: 20px;
    }
}
.possibilities-img {
    display: block;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 15px;
}
.possibilities-img img {
    width: 100%;
}
.possibilities-img span {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/quotes.png") no-repeat left 5px center;
    background-size: auto 100%;
    background-color: rgba(8, 8, 9, 0.7);
    border-radius: 4px 0 4px 0;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px 0 55px;
}
.possibilities-img p {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(8, 8, 9, 0.7);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .possibilities-img {
        border-radius: 8px;
    }
    .possibilities-img span {
        height: 60px;
        background-size: auto 58px;
        padding: 0 20px 0 65px;
        font-size: 16px;
        border-radius: 8px 0 8px 0;
    }
    .possibilities-img p {
        left: 100px;
        border-radius: 8px 0 8px 0;
        font-size: 16px;
        padding: 10px 20px;
    }
}
@media (min-width: 992px) {
    .possibilities-img p {
        left: 300px;
    }
}
@media (min-width: 1200px) {
    .possibilities-img span {
        height: 70px;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0 30px 0 65px;
    }
    .possibilities-img p {
        font-size: 18px;
        left: 50px;
    }
}
@media (min-width: 1400px) {
    .possibilities-img p {
        left: 150px;
    }
}
@media (min-width: 1600px) {
    .possibilities-img p {
        left: 200px;
    }
}
.residents {
    margin-top: 15px;
}
@media (min-width: 768px) {
    .residents {
        margin-top: 30px;
    }
}
@media (min-width: 1200px) {
    .residents {
        margin-top: 35px;
    }
}
.resident {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: url("../img/residents/resident-bg.png") no-repeat center/cover;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 30px 10px 30px;
    min-height: 100%;
}
.resident__photo {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    padding: 2px;
}
.resident__photo img {
    width: 100%;
    border-radius: 50%;
}
.resident__name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #984e33 0%, rgba(152, 78, 51, 0) 100%);
    padding: 0 5px;
    border-radius: 4px;
}
.resident__list1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.resident__list1 li {
    width: 50%;
    font-size: 10px;
    font-weight: 500;
    padding-right: 10px;
}
.resident__list2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
}
.resident__list2 li {
    margin-top: 5px;
    width: 50%;
    font-size: 9px;
    line-height: 15px;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 20px;
    background: url("../img/polygon.svg") no-repeat left top 2px;
    background-size: 9px auto;
}
@media (min-width: 768px) {
    .resident {
        border-radius: 8px;
        padding: 30px 20px;
    }
    .resident__photo {
        width: 120px;
        height: 120px;
    }
    .resident__name {
        font-size: 18px;
        line-height: 30px;
        padding: 0 10px;
    }
    .resident__list1 li {
        font-size: 14px;
    }
    .resident__list2 li {
        font-size: 13px;
        margin-top: 10px;
        line-height: 20px;
        background-size: 12px auto;
        padding-left: 25px;
    }
}
@media (min-width: 1200px) {
    .resident {
        padding: 30px 20px;
    }
    .resident__photo {
        width: 160px;
        height: 160px;
        padding: 4px;
    }
    .resident__name {
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .resident__list1 li {
        font-size: 17px;
    }
    .resident__list2 li {
        margin-top: 15px;
        font-size: 14px;
        line-height: 24px;
        background-size: 16px auto;
        padding-left: 30px;
    }
}
.speakers {
    margin-top: 15px;
}
@media (min-width: 768px) {
    .speakers {
        margin-top: 30px;
    }
}
@media (min-width: 1200px) {
    .speakers {
        margin-top: 50px;
    }
}
.speaker {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.speaker__photo {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.speaker__name {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
}
.speaker__position {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}
@media (min-width: 768px) {
    .speaker__photo {
        margin-bottom: 30px;
    }
    .speaker__name {
        font-size: 16px;
    }
    .speaker__position {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    .speaker__photo {
        margin-bottom: 40px;
    }
    .speaker__name {
        font-size: 20px;
    }
    .speaker__position {
        font-size: 20px;
    }
}
.calendar {
    margin-top: 15px;
}
.calendar__card {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 20px 10px;
    min-height: 100%;
}
.calendar__card-title {
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
}
.calendar__card-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
}
.calendar__card-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30px;
    width: 30px;
    font-size: 18px;
    border-radius: 50%;
    text-transform: uppercase;
    justify-self: center;
    color: #fff;
    transition: background-color 0.5s ease;
}
.calendar__card-item--inactive {
    color: #616161;
}
.calendar__card-item--event1 {
    background-color: rgba(152, 78, 51, 0.5);
}
.calendar__card-item--event2 {
    background-color: #984e33;
}
.calendar__card-item--event2 .calendar__card-desc {
    background-color: #984e33;
    color: #fff;
}
.calendar__card-item--event2 .calendar__card-desc:after {
    border-top-color: #984e33;
}
.calendar__card-item--event1,
.calendar__card-item--event2 {
    cursor: default;
}
.calendar__card-item--event1:hover,
.calendar__card-item--event2:hover {
    background-color: #3a5157;
}
.calendar__card-item--event1:hover .calendar__card-desc,
.calendar__card-item--event2:hover .calendar__card-desc {
    opacity: 1;
    pointer-events: auto;
}
.calendar__card-desc {
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    color: #000;
    text-transform: none;
    text-align: left;
    margin-bottom: 5px;
    min-width: 180px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
.calendar__card-desc:after {
    content: "";
    top: 100%;
    left: 10px;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 5px;
}
.calendar__card-desc--right {
    left: auto;
    right: 0;
}
.calendar__card-desc--right:after {
    left: auto;
    right: 10px;
}
@media (min-width: 768px) {
    .calendar__card {
        border-radius: 8px;
        padding: 25px 10px;
    }
    .calendar__card-title {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .calendar__card-item {
        font-size: 20px;
        height: 36px;
        width: 36px;
    }
    .calendar__card-desc {
        font-size: 14px;
    }
    .calendar__card-desc:after {
        left: 13px;
    }
    .calendar__card-desc--right:after {
        left: auto;
        right: 13px;
    }
}
@media (min-width: 1200px) {
    .calendar {
        padding: 0 70px;
    }
    .calendar__card {
        padding: 30px 10px;
    }
    .calendar__card-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .calendar__card-item {
        font-size: 24px;
        height: 40px;
        width: 40px;
    }
    .calendar__card-desc {
        font-size: 16px;
        min-width: 240px;
    }
    .calendar__card-desc:after {
        left: 15px;
    }
    .calendar__card-desc--right:after {
        left: auto;
        right: 15px;
    }
}
@media (min-width: 1680px) {
    .calendar__card-title {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .calendar__card-item {
        font-size: 30px;
        height: 46px;
        width: 46px;
    }
    .calendar__card-desc:after {
        left: 18px;
    }
    .calendar__card-desc--right:after {
        left: auto;
        right: 18px;
    }
}
@media (min-width: 1920px) {
    .calendar__card-desc {
        min-width: 270px;
        font-size: 18px;
    }
}
.tabs-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
@media (min-width: 1200px) {
    .tabs-wrap {
        margin-top: 15px;
        min-height: calc(100% - 15px);
    }
}
.tab-img {
    display: block;
    position: relative;
    border: 1px solid #fff;
    border-radius: 4px;
    overflow: hidden;
}
.tab-img img {
    width: 100%;
}
.tab-img span {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/quotes.png") no-repeat left 5px center;
    background-size: auto 100%;
    background-color: rgba(8, 8, 9, 0.7);
    border-radius: 4px 0 4px 0;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px 0 55px;
}
@media (min-width: 768px) {
    .tab-img {
        border-radius: 8px;
    }
    .tab-img span {
        top: 5px;
        left: 5px;
        height: 60px;
        background-size: auto 58px;
        padding: 0 20px 0 65px;
        font-size: 16px;
        border-radius: 8px 0 8px 0;
    }
}
@media (min-width: 992px) {
    .tab-img span {
        top: 10px;
        left: 10px;
    }
}
@media (min-width: 1200px) {
    .tab-img {
        margin-top: 15px;
    }
    .tab-img span {
        height: 70px;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0 30px 0 65px;
    }
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    padding: 0 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}
.project__num {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #984e33;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 15px;
}
.project__title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.project__text {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .project {
        padding: 0 30px 30px;
        border-radius: 8px;
    }
    .project__num {
        font-size: 42px;
        height: 90px;
        margin-bottom: 20px;
        border-bottom: 2px solid #984e33;
    }
    .project__title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .project__text {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .project {
        padding: 20px 30px 40px;
        min-height: calc(100% - 15px);
    }
    .project__num {
        font-size: 62px;
        height: 100px;
        border-bottom: 4px solid #984e33;
    }
    .project__title {
        font-size: 32px;
    }
    .project__text {
        font-size: 22px;
    }
}
.enter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 20px 15px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    margin-top: 15px;
}
.enter__title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.enter__text {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
.enter__tagline {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
.enter__tagline b {
    font-weight: 600;
    color: #984e33;
}
@media (min-width: 768px) {
    .enter {
        padding: 40px;
        border-radius: 8px;
    }
    .enter__title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .enter__text,
    .enter__tagline {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .enter {
        padding: 50px;
    }
    .enter__title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .enter__text,
    .enter__tagline {
        font-size: 24px;
    }
}
.enter-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 20px 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    margin-top: 15px;
}
.enter-form__title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.enter-form__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
@media (min-width: 768px) {
    .enter-form {
        padding: 40px;
        border-radius: 8px;
    }
    .enter-form__title {
        font-size: 20px;
        margin-bottom: 30px;
    }
}
@media (min-width: 1200px) {
    .enter-form {
        padding: 50px;
        min-height: calc(100% - 15px);
    }
    .enter-form__title {
        font-size: 24px;
    }
}
.cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.cta__title {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.cta__text {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
.cta__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 48px;
    border-radius: 8px;
    background-color: #984e33;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .cta__title {
        font-size: 42px;
    }
    .cta__text {
        font-size: 24px;
        margin-bottom: 50px;
    }
    .cta__btn {
        width: 240px;
        height: 60px;
        font-size: 20px;
    }
}
@media (min-width: 1200px) {
    .cta__title {
        font-size: 62px;
    }
    .cta__text {
        font-size: 32px;
        margin-bottom: 70px;
    }
    .cta__btn {
        width: 270px;
        height: 72px;
        font-size: 22px;
    }
    .cta__btn:hover {
        background-color: #3a5157;
    }
}
.footer {
    margin-top: 60px;
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1780px;
    margin: 0 auto;
}
.footer__ie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 15px;
    line-height: 150%;
    font-weight: 300;
    margin-bottom: 30px;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
}
.footer__nav li {
    margin-bottom: 10px;
}
.footer__nav li:last-child {
    margin-bottom: 0;
}
.footer__nav a {
    font-size: 15px;
    color: #fff;
}
.footer__nav a:hover {
    color: #984e33;
}
.footer__copyright {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
}
@media (min-width: 768px) {
    .footer {
        margin-top: 100px;
        padding: 30px 38px;
    }
    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer__ie {
        width: auto;
        font-size: 16px;
        font-weight: 400;
    }
    .footer__nav {
        width: auto;
    }
    .footer__nav a {
        font-size: 16px;
    }
    .footer__copyright {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    .footer {
        margin-top: 160px;
        padding: 30px 58px;
    }
    .footer__content {
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    .footer__ie {
        order: 1;
        margin-bottom: 0;
    }
    .footer__copyright {
        order: 2;
        width: auto;
    }
    .footer__nav {
        order: 3;
        margin-bottom: 0;
    }
}
@media (min-width: 1900px) {
    .footer__ie {
        display: inline;
    }
    .footer__nav {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .footer__nav li {
        margin-bottom: 0;
        margin-right: 50px;
    }
    .footer__nav li:last-child {
        margin-right: 0;
    }
    .footer__copyright {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
.form__input {
    width: 100%;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 15px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    margin-bottom: 10px;
}
.form__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 48px;
    border-radius: 8px;
    background-color: #984e33;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}
.form__btn--modal {
    margin-top: 50px;
}
@media (min-width: 768px) {
    .form__input {
        height: 60px;
        padding: 0 20px;
        font-size: 16px;
        margin-bottom: 15px;
        border-radius: 8px;
    }
    .form__btn {
        width: 300px;
        height: 60px;
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .form__input {
        height: 80px;
        margin-bottom: 20px;
        font-size: 22px;
        padding: 0 30px;
    }
    .form__btn {
        width: 340px;
        height: 72px;
        font-size: 20px;
    }
    .form__btn:hover {
        background-color: #3a5157;
    }
}
.modal {
    background: url("../img/modal.png") no-repeat center/cover;
}
.modal .modal-content {
    background-color: transparent;
    border-radius: 0;
    border: none;
}
.modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.modal__title {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
@media (min-width: 768px) {
    .modal__title {
        font-size: 32px;
    }
}
@media (min-width: 1200px) {
    .modal {
        --bs-modal-width: 890px;
    }
    .modal__title {
        font-size: 52px;
    }
}
.modal-backdrop {
    background: #090f11;
}
.splide--speakers .splide__arrows,
.splide--residents .splide__arrows,
.splide--hero .splide__arrows,
.splide--calendar .splide__arrows {
    position: relative;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.splide--speakers .splide__arrow,
.splide--residents .splide__arrow,
.splide--hero .splide__arrow,
.splide--calendar .splide__arrow {
    position: relative;
    top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    z-index: 2;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    opacity: 1;
    transform: none;
    margin: 0 12px;
}
.splide--speakers .splide__arrow svg,
.splide--residents .splide__arrow svg,
.splide--hero .splide__arrow svg,
.splide--calendar .splide__arrow svg {
    width: 22px;
    height: auto;
    fill: none;
}
.splide--speakers .splide__arrow--prev,
.splide--residents .splide__arrow--prev,
.splide--hero .splide__arrow--prev,
.splide--calendar .splide__arrow--prev {
    left: auto;
}
.splide--speakers .splide__arrow--prev svg,
.splide--residents .splide__arrow--prev svg,
.splide--hero .splide__arrow--prev svg,
.splide--calendar .splide__arrow--prev svg {
    transform: none;
}
.splide--speakers .splide__arrow--next,
.splide--residents .splide__arrow--next,
.splide--hero .splide__arrow--next,
.splide--calendar .splide__arrow--next {
    right: auto;
}
@media (min-width: 768px) {
    .splide--speakers .splide__arrows,
    .splide--residents .splide__arrows,
    .splide--hero .splide__arrows,
    .splide--calendar .splide__arrows {
        margin-top: 40px;
    }
    .splide--speakers .splide__arrow,
    .splide--residents .splide__arrow,
    .splide--hero .splide__arrow,
    .splide--calendar .splide__arrow {
        width: 30px;
        height: 30px;
    }
    .splide--speakers .splide__arrow svg,
    .splide--residents .splide__arrow svg,
    .splide--hero .splide__arrow svg,
    .splide--calendar .splide__arrow svg {
        width: 30px;
    }
}
@media (min-width: 1200px) {
    .splide--speakers .splide__arrows,
    .splide--speakers .splide__arrow {
        display: none !important;
    }
    .splide--residents .splide__arrows {
        margin-top: 60px;
    }
    .splide--residents .splide__arrow {
        width: 46px;
        height: 46px;
    }
    .splide--residents .splide__arrow svg {
        width: 30px;
    }
    .splide--residents .splide__arrow:hover {
        background-color: rgba(182, 182, 182, 0.45);
    }
    .splide--hero .splide__arrows {
        margin-top: 25px;
        justify-content: flex-start;
    }
    .splide--hero .splide__arrow {
        width: 46px;
        height: 46px;
    }
    .splide--hero .splide__arrow svg {
        width: 30px;
    }
    .splide--hero .splide__arrow:hover {
        background-color: rgba(182, 182, 182, 0.45);
    }
    .splide--hero .splide__arrow--prev {
        margin-left: 0;
    }
    .splide--hero .splide__pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        bottom: 11px;
    }
    .splide--hero .splide__pagination li {
        margin-right: 5px;
    }
    .splide--hero .splide__pagination li:last-child {
        margin-right: 0;
    }
    .splide--hero .splide__pagination__page {
        display: block;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: transparent;
        transition: 0.5s ease;
        border: 1px solid transparent;
        position: relative;
        opacity: 1;
        margin: 0;
    }
    .splide--hero .splide__pagination__page:before {
        content: "";
        position: absolute;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin: -2px 0 0 -2px;
        background-color: #575a5b;
        transition: background-color 0.5s ease;
    }
    .splide--hero .splide__pagination__page.is-active {
        transform: scale(1);
        border-color: #fff;
    }
    .splide--hero .splide__pagination__page.is-active:before {
        background-color: #fff;
    }
    .splide--calendar .splide__arrows {
        position: absolute;
        width: auto;
        margin-top: 0;
        left: 0;
        right: 0;
        bottom: 50%;
        pointer-events: none;
    }
    .splide--calendar .splide__arrow {
        position: absolute;
        margin: 0;
        pointer-events: auto;
        width: 46px;
        height: 46px;
    }
    .splide--calendar .splide__arrow svg {
        width: 30px;
    }
    .splide--calendar .splide__arrow:hover {
        background-color: rgba(182, 182, 182, 0.45);
    }
    .splide--calendar .splide__arrow--prev {
        left: 0;
    }
    .splide--calendar .splide__arrow--next {
        right: 0;
    }
}


.empty {
    width: 40px;
}

.header__logo {
    transition: all 0.3s linear;
    position: fixed;
    left: 13px;
    top: 79px;
    z-index: 100;
}

.header__logo.active {
    position: fixed;
    left: 13px;
    top: 12px;
    transition: all 0.3s linear;
}

@media (min-width: 768px) {
    .header__logo {
        top: 122px;
    }
    .header__logo.active {
        top: 19px;
    }
    .hero__title {
        box-sizing: border-box;
        padding-left: 20px;
        transition: all 0.3s linear;
    }
    .hero__title.active {
        padding-left: 0px;
        transition: all 0.3s linear;
    }
}

@media (min-width: 1200px) {
    .header__logo.active {
        top: 15px;
    }
    .header__logo {
        top: 128px;
    }
}

@media (min-width: 1440px) {
    .header__logo {
        top: 134px;
    }
}

@media (min-width: 1680px) {
    .header__logo {
        top: 145px;
    }
}

@media (min-width: 1920px) {
    .header__logo {
        width: 76px;
        height: 76px;
    }
    .hero__title {
        padding-left: 90px;
    }
    .header__logo {
        top: 139px;
        left: 70px;
    }
    .header__logo.active {
        left: 70px;
        width: 56px;
        height: 56px;
    }
    .header__logo.active {
        top: 15px;
    }
}


.dropdown {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 300px;
    background: rgba(0,0,0,.6);
    /* background: #090f11; */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 98;
    height: 100vh;
    box-sizing: border-box;
    padding: 100px 20px 30px 20px;
    transform: translateX(100%);
    transition: all 0.3s linear;
}

.dropdown.active {
    transform: translateX(0px);
    transition: all 0.3s linear;
}

.dropdown ul {
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.dropdown ul li {
    text-align: right;
    cursor: pointer;
    /* margin-top: 20px; */
}

@media (min-width: 768px) {
    .dropdown {
        width: 500px;
    }
    .dropdown ul li {
        font-size: 18px;
    }
}

@media (min-width: 1600px) {
    .dropdown ul li {
        font-size: 22px;
    }
}

@media (min-width: 1920px) {
    .dropdown {
        padding: 100px 70px 30px 20px;
    }
}